.main-title {
    text-align: center;
    font-size: 32px;
    padding-bottom: 15px;
}
.input-wrapper {
    width: 100%;
    margin-bottom: 15px;
    input {
        width: 100%;
    }
}
.footer {
    display: flex;
    justify-content: flex-end;
    button {
        padding: 0 10px;
        margin-left: 15px;
    }
}
