<div class="title">{{ shopItem.title }}</div>
<div class="image-wrapper">
    <img src="{{shopItem.imageUrl}}" alt="Image">
</div>
<div class="title">{{ shopItem.ownerName }}</div>
<div class="description">{{ shopItem.description }}</div>
<div>Comments:</div>
<div class="comments">
    <div class="comment-wrapper" *ngFor="let comment of shopItem.comments">
        <div class="comment-owner">{{ comment.ownerName }}</div>
        <div class="comment">{{ comment.comment }} </div>
        <div class="comment-date">{{ comment.date }}</div>
    </div>
</div>
<button mat-raised-button color="primary" (click)="downloadImage()">Download image</button>