:host {
    display: block;
    background-color: #343a40;
    min-width: 300px;
    max-width: 500px;
    min-height: 50px;
    margin: 10px;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    .title {
        text-align: center;
        padding-bottom: 10px;
    }
    .image-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        img {
            display: block;
            max-width: 230px;
            max-height: 95px;
            width: auto;
            height: auto;
            border-radius: 15px;
        }
    }
    .custom-footer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .download-button-wrapper {
        button {
            width: 100%;
        }
    }
}
