<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/main">CAFFShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/profile" routerLinkActive="active">Profil</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/" routerLinkActive="active">Bejelentkezés</a>
      <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active">Regisztráció</a>
      <a class="nav-link" *ngIf="authService.loggedIn()" style="cursor:pointer" (click)="authService.logoutUser()">Kijelentkezés</a>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>