<div *ngIf="!isLoading">
    <div class="title">{{ shopItem.title }}</div>
    <div class="image-wrapper">
        <img [attr.src]="thumbnailUri | secure | async" alt="Image">
    </div>
    <button mat-raised-button color="primary" (click)="downloadImage()">Download file</button>
    <div class="title">Feltöltötte: {{ shopItem.ownerName }}</div>
    <div class="description">Leírás: {{ shopItem.description }}</div>
    <input type="text" [(ngModel)]="commentToAdd" placeholder="Komment írása">
    <button class="btn btn-dark" (click)="addComment()">Megjegyzés írása</button>
    <div>Megjegyzések</div>
    <div class="comments" *ngIf="shopItem && shopItem.fileComments">
        <div class="comment-wrapper" *ngFor="let comment of shopItem.fileComments">
            <div class="comment-owner">{{ comment.ownerName }}</div>
            <div class="comment">{{ comment.content }} </div>
            <div class="comment-date">{{ comment.creationDate }}</div>
            <button (click)="deleteComment(comment.id)">Törlés</button>
        </div>
    </div>
</div>